/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* CSS variables */

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

body p {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
main {
  width: 18%;
  padding: 1rem;
  /* border: 1px solid rgb(188, 192, 194); */
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px rgb(211, 208, 208);
}

.qr-container {
  width: 100%;
  height: 58%;
}

.text-container h1 {
  font-family: "Outfit", sans-serif;

  width: 88%;
  margin: 0 auto;
  font-weight: 700;
  margin-bottom: 0.8rem;

  font-size: large;
  margin-top: 1rem;
}

.text-container p {
  width: 88%;
  margin: 0 auto;
  font-weight: 400;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.qr-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  overflow: hidden;
}

img {
  width: 100%;

  height: 100%;
  object-fit: cover;
}

/* Media Query rules */

@media screen and (max-width: 1000px) {
  main {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  main {
    width: 80%;
  }
}
